# Ignore ide config.
.idea/*

# Ignore bundler config.
.bundle

# Ignore git history
.history

# Ignore rails default testing
test

# Ignore vendor/bundle
vendor/bundle

# Ignore all logfiles and tempfiles.
log/*
tmp/*
!/log/.keep
!/tmp/.keep

spec/examples.txt

# Ignore Byebug command history file.
.byebug_history

.env

# Ignore application.yml
config/application.yml

