MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=rails_dev_prod
MYSQL_USER=rails_prod
MYSQL_PASSWORD=[password]
MYSQL_HOST=[db]
RAILS_ENV=[ENV_NAME]
SECRET_KEY_BASE=[GENERATED_KEY]
RAILS_SERVE_STATIC_FILES=true
RAILS_LOG_TO_STDOUT=true
